@tailwind base;
@tailwind components;
@tailwind utilities;

.signInContainer {
  margin: 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomContainer {
    margin: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
